<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}"><span class="brand">Portabilis</span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {{ app.request.get('_route') == 'homepage' ? 'class="active"' : '' }}><a href="{{ path('homepage') }}">Início</a></li>
                <li {{ app.request.get('_route') == 'courses' ? 'class="active"' : '' }}><a href="{{ path('courses') }}">Cursos</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if app.session.get('user') == false %}
                <li {{ app.request.get('_route') == 'signup' ? 'class="active"' : '' }}><a href="{{ path('signup') }}">Cadastre-se</a></li>
                {% else %}
                <li {{ app.request.get('_route') == 'logout' ? 'class="active"' : '' }}><a href="{{ path('signout') }}">Sair</a></li>
                {% endif %}
            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</nav>
